[DEFAULT]
log_file = /var/log/glance/glance-api.log

[database]
connection = mysql+pymysql://{{ glance_mysql_user }}:{{ glance_mysql_password }}@{{ glance_mysql_host }}/glance

[glance_store]
stores = file,http
default_store = file
filesystem_store_datadir = /var/lib/glance/images/

[keystone_authtoken]
auth_url = http://{{ glance_keystone_host }}:5000
memcached_servers = {{ glance_keystone_host }}:11211
auth_type = password
project_domain_name = Default
user_domain_name = Default
project_name = service
username = {{ glance_keystone_service_user }}
password = {{ glance_keystone_service_password }}
