[Unit]
Description=OpenStack Nova NoVNC Proxy Server
After=syslog.target network.target

[Service]
Type=simple
User=nova
Restart=always
ExecStart=/opt/nova/bin/nova-novncproxy \
    --config-file /etc/nova/nova.conf \
    --log-file /var/log/nova/novncproxy.log

[Install]
WantedBy=multi-user.target
