[Unit]
Description=OpenStack Nova Compute Server
After=syslog.target network.target libvirtd.service

[Service]
# Environment=LIBGUESTFS_ATTACH_METHOD=appliance

Type=notify
NotifyAccess=all
TimeoutStartSec=0
Restart=always
User=root
ExecStart=/opt/nova/bin/nova-compute \
    --config-file /etc/nova/nova_compute.conf \
    --log-file /var/log/nova/compute.log

[Install]
WantedBy=multi-user.target
