[Unit]
Description=OpenStack Nova Scheduler Server
After=syslog.target network.target

[Service]
Type=notify
NotifyAccess=all
TimeoutStartSec=0
Restart=always
User=root
ExecStart=/opt/nova/bin/nova-scheduler \
    --config-file /etc/nova/nova.conf \
    --log-file /var/log/nova/scheduler.log

[Install]
WantedBy=multi-user.target
