global
    log stdout format raw local0

defaults
    mode http
    log global
    option httplog

    timeout connect 5s
    timeout client 30s
    timeout server 30s

#
# HTTP -> HTTPS
#
frontend http
    bind 0.0.0.0:80
    redirect scheme https code 301 if !{ ssl_fc }

#
# HTTPS Frontend
#
frontend https
    bind 0.0.0.0:443 ssl crt /etc/haproxy/certs/ alpn h2,http/1.1

    # Forward headers
    option forwardfor
    http-request set-header X-Forwarded-Proto https

    # Haproxy
    acl host_haproxy hdr(host) -i haproxy.svc.local.test
    acl stats_path path -i /stats
    use_backend stats_backend if host_haproxy stats_path
    use_backend nginx_backend if host_haproxy

    #
    # Host ACL
    #
    # use_backend haproxy_backend if { hdr(host) -i haproxy.svc.local.test }
    # use_backend prometheus_backend if { hdr(host) -i contents.svc.local.test }

    default_backend not_found_backend


backend not_found_backend
    http-request return status 404

#
# HAProxy Stats
#
backend stats_backend
    mode http

    stats enable
    stats uri /stats
    stats refresh 5s

    stats auth admin:adminpass

    stats show-legends
    stats show-node
    stats hide-version


#
# Default (nginx)
#
backend nginx_backend
    mode http
    server nginx 127.0.0.1:1080 check
