[DEFAULT]
log_file = /var/log/placement/placement.log

[placement_database]
connection = mysql+pymysql://{{ placement_mysql_user }}:{{ placement_mysql_password }}@{{ placement_mysql_host }}/placement

[api]
auth_strategy = keystone

[keystone_authtoken]
auth_url = {{ placement_keystone_auth_url|default(region_keystone_auth_url) }}
region_name = {{ placement_keystone_auth_region_name|default(region_keystone_auth_region_name) }}
auth_type = password
project_domain_name = Default
project_name = service
user_domain_name = Default
username = {{ placement_keystone_auth_username }}
password = {{ placement_keystone_auth_password }}

# cache settings
memcached_servers = {{ placement_keystone_auth_memcached_servers|default(region_keystone_auth_memcached_servers) }}
