[database]
connection = mysql+pymysql://{{ neutron_mysql_user }}:{{ neutron_mysql_password }}@{{ neutron_mysql_host }}/neutron

{% set groups = ['keystone_authtoken', 'nova'] %}
{% for group in groups %}
[{{ group }}]
auth_type = password
project_domain_name = Default
project_name = service
user_domain_name = Default
username = {{ neutron_keystone_auth_username }}
password = {{ neutron_keystone_auth_password }}

{% endfor %}
