Listen 5000

<VirtualHost *:5000>
    WSGIDaemonProcess keystone-public processes=5 threads=1 python-home={{ keystone_venv }} user=nobody group=nobody display-name=%{GROUP}
    WSGIProcessGroup keystone-public
    WSGIScriptAlias / {{ keystone_venv }}/bin/keystone-wsgi-public
    WSGIApplicationGroup %{GLOBAL}
    WSGIPassAuthorization On
    LimitRequestBody 114688
    <IfVersion >= 2.4>
      ErrorLogFormat "%{cu}t %M"
    </IfVersion>
    ErrorLog /var/log/httpd/keystone.log
    CustomLog /var/log/httpd/keystone_access.log combined

    <Directory /opt/keystone/bin>
        <IfVersion >= 2.4>
            Require all granted
        </IfVersion>
        <IfVersion < 2.4>
            Order allow,deny
            Allow from all
        </IfVersion>
    </Directory>

    # https://github.com/OpenIDC/mod_auth_openidc/wiki/OAuth-2.0-Resource-Server#keycloak
    OIDCOAuthVerifyJwksUri "{{ keystone_oidc_device_auth_oauth_verify_jwks_uri }}"
    OIDCIDTokenIatSlack 3600

    <Location /v3/OS-FEDERATION/identity_providers/{{ keystone_oidc_device_auth_identity_provider }}/protocols/openid/auth>
        LogLevel debug
        AuthType oauth20
        Require valid-user
    </Location>

</VirtualHost>
