[database]
connection = mysql+pymysql://{{ glance_mysql_user }}:{{ glance_mysql_password }}@{{ glance_mysql_host }}/glance

[keystone_authtoken]
auth_type = password
user_domain_name = Default
username = {{ glance_keystone_auth_username }}
password = {{ glance_keystone_auth_password }}
project_domain_name = Default
project_name = service
