[DEFAULT]
# log_file = /var/log/nova/nova.log
enabled_apis = osapi_compute,metadata

transport_url = rabbit://{{ nova_rabbitmq_user }}:{{ nova_rabbitmq_password }}@{{ nova_rabbitmq_host }}:5672/

my_ip = {{ nova_my_ip }}

[scheduler]
workers = 1

[conductor]
workers = 1

[api_database]
connection = mysql+pymysql://{{ nova_mysql_user }}:{{ nova_mysql_password }}@{{ nova_mysql_host }}/nova_api

[database]
connection = mysql+pymysql://{{ nova_mysql_user }}:{{ nova_mysql_password }}@{{ nova_mysql_host }}/nova

[api]
auth_strategy = keystone

[keystone_authtoken]
auth_url = http://{{ nova_keystone_host }}:5000
region_name = {{ nova_keystone_region }}
memcached_servers = {{ nova_keystone_host }}:11211
auth_type = password
project_domain_name = Default
user_domain_name = Default
project_name = service
username = {{ nova_keystone_service_user }}
password = {{ nova_keystone_service_password }}

[vnc]
enabled = true
server_listen = $my_ip
server_proxyclient_address = $my_ip

# [glance]
# api_servers = http://{{ nova_glance_host }}:9292

[oslo_concurrency]
lock_path = /var/lib/nova/tmp

[placement]
auth_url = http://{{ nova_keystone_host }}:5000
region_name = {{ nova_keystone_region }}
memcached_servers = {{ nova_keystone_host }}:11211
auth_type = password
project_domain_name = Default
user_domain_name = Default
project_name = service
username = {{ nova_keystone_service_user }}
password = {{ nova_keystone_service_password }}

[neutron]
auth_url = http://{{ nova_keystone_host }}:5000
region_name = {{ nova_keystone_region }}
memcached_servers = {{ nova_keystone_host }}:11211
auth_type = password
project_domain_name = Default
user_domain_name = Default
project_name = service
username = {{ nova_keystone_service_user }}
password = {{ nova_keystone_service_password }}
