[Unit]
Description=Initial myinit job (metadata service crawler)
After=network.target

[Service]
Type=oneshot
ExecStart=/opt/myinit/bin/myinit
RemainAfterExit=yes
TimeoutSec=0

# Output needs to appear in instance console output
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
