[DEFAULT]
core_plugin = ml2
service_plugins =

transport_url = rabbit://{{ neutron_rabbitmq_user }}:{{ neutron_rabbitmq_password }}@{{ neutron_rabbitmq_host }}:5672/

auth_strategy = keystone

# Networking to notify Compute of network topology changes
notify_nova_on_port_status_changes = true
notify_nova_on_port_data_changes = true

# dhcp_agent_notification = true
# dhcp_agents_per_network = 2
# allow_overlapping_ips = False
# agent_down_time = 90
api_workers = 1


[oslo_concurrency]
lock_path = /var/lib/neutron/tmp

[keystone_authtoken]
region_name = {{ neutron_keystone_region }}
auth_url = http://{{ neutron_keystone_host }}:5000
memcached_servers = {{ neutron_keystone_host }}:11211
auth_type = password
project_domain_name = Default
user_domain_name = Default
project_name = service
username = {{ neutron_keystone_service_user }}
password = {{ neutron_keystone_service_password }}

[database]
connection = mysql+pymysql://{{ neutron_mysql_user }}:{{ neutron_mysql_password }}@{{ neutron_mysql_host }}/neutron

[nova]
region_name = {{ neutron_keystone_region }}
auth_url = http://{{ neutron_keystone_host }}:5000
memcached_servers = {{ neutron_keystone_host }}:11211
auth_type = password
project_domain_name = Default
user_domain_name = Default
project_name = service
username = {{ neutron_keystone_service_user }}
password = {{ neutron_keystone_service_password }}

[agent]
root_helper = "sudo env PATH=/opt/neutron/bin:/usr/sbin:/usr/bin:/sbin:/bin"
