[DEFAULT]
transport_url = {{ nova_oslomsg_rpc_transport|default("rabbit") }}://{% for server in nova_oslomsg_rpc_servers %}{{ nova_oslomsg_rpc_userid }}:{{ nova_oslomsg_rpc_password }}@{{ server }}{% if not loop.last %},{% else %}{{ nova_oslomsg_rpc_vhost }}{% if nova_oslomsg_rpc_use_ssl | default(false) | bool %}?ssl=1&ssl_version={{ nova_oslomsg_rpc_ssl_version }}&ssl_ca_file={{ nova_oslomsg_rpc_ssl_ca_file }}{% else %}?ssl=0{% endif %}{% endif %}{% endfor %}

[api_database]
connection = mysql+pymysql://{{ nova_mysql_user }}:{{ nova_mysql_password }}@{{ nova_mysql_host }}/nova_api

[database]
connection = mysql+pymysql://{{ nova_mysql_user }}:{{ nova_mysql_password }}@{{ nova_mysql_host }}/nova

{% set groups = ['keystone_authtoken', 'placement', 'neutron'] %}
{% for group in groups %}
[{{ group }}]
auth_type = password
project_domain_name = Default
project_name = service
user_domain_name = Default
username = {{ nova_keystone_auth_username }}
password = {{ nova_keystone_auth_password }}

{% endfor %}
