export OS_USERNAME={{ global_keystone_admin_auth.username }}
export OS_PASSWORD={{ global_keystone_admin_auth.password }}
export OS_PROJECT_NAME={{ global_keystone_admin_auth.project_name }}
export OS_USER_DOMAIN_NAME=Default
export OS_PROJECT_DOMAIN_NAME=Default
export OS_AUTH_URL={{ global_keystone_admin_auth.auth_url }}
export OS_IDENTITY_API_VERSION=3
