[DEFAULT]
log_file = /var/log/keystone/keystone-public.log

[database]
connection = mysql+pymysql://{{ keystone_mysql_user }}:{{ keystone_mysql_password }}@{{ keystone_mysql_host }}/keystone

[token]
provider = fernet
